<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Package Name="Vincere Auto Export NinjaTrader AddOn" Manufacturer="Vincere Capital" Version="$(ProductVersion)"
           UpgradeCode="9BCE4229-6E75-4927-8138-7B91856DA9E0" Scope="perMachine" InstallerVersion="500">
    <MajorUpgrade DowngradeErrorMessage="A newer Vincere NinjaTrader AddOn is already installed."
                  Schedule="afterInstallInitialize" />
    <MediaTemplate EmbedCab="yes" />
    <Launch Condition="NINJATRADERDOCUMENTS"
            Message="A validated NinjaTrader Documents folder is required. Run the signed Vincere setup bundle from the intended Windows user profile." />
    <StandardDirectory Id="TARGETDIR">
      <Directory Id="NINJATRADERDOCUMENTS" Name="Documents">
        <Directory Id="NinjaTraderDocumentsFolder" Name="NinjaTrader 8">
        <Directory Id="NinjaTraderBinFolder" Name="bin">
          <Directory Id="NinjaTraderCustomFolder" Name="Custom" />
        </Directory>
      </Directory>
      </Directory>
    </StandardDirectory>
    <ComponentGroup Id="AddOnComponents">
      <Component Id="ProductionAddOnComponent" Directory="NinjaTraderCustomFolder" Guid="132D0BFC-E319-409D-9C89-1C12235B70EF">
        <File Id="ProductionAddOnDll" Source="$(AddOnPayloadDirectory)\Vincere.AutoExport.NinjaTrader.dll" Name="Vincere.AutoExport.NinjaTrader.dll" />
        <File Id="ProductionAddOnCoreDll" Source="$(AddOnPayloadDirectory)\Vincere.AutoExport.NinjaTrader.Core.dll" Name="Vincere.AutoExport.NinjaTrader.Core.dll" />
        <File Id="ProductionContractsDll" Source="$(AddOnPayloadDirectory)\Vincere.AutoExport.Contracts.dll" Name="Vincere.AutoExport.Contracts.dll" />
        <File Id="ProductionNewtonsoftJsonDll" Source="$(AddOnPayloadDirectory)\Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" />
        <RegistryValue Root="HKLM" Key="Software\Vincere\AutoExport" Name="AddOnVersion"
                       Value="$(ProductVersion)" Type="string" KeyPath="yes" />
      </Component>
    </ComponentGroup>
    <Feature Id="AddOnFeature" Title="Vincere NinjaTrader AddOn" Level="1">
      <ComponentGroupRef Id="AddOnComponents" />
    </Feature>
    <util:CloseApplication Id="CloseNinjaTraderForAddOn" Target="NinjaTrader.exe"
                           Description="Close NinjaTrader so the Vincere AddOn can be installed safely."
                           CloseMessage="yes" ElevatedCloseMessage="yes" RebootPrompt="no" />
  </Package>
</Wix>
